@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============ Amiamie Fonts ============ */

/* Amiamie Regular */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Regular.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Regular Italic */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Italic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Light */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Light.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Light Italic */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-LightItalic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Black */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Black.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Black Italic */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-BlackItalic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Round Regular */
@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-RegularRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-RegularRound.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Round Black */
@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackRound.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Round Black Italic */
@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackItalicRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalicRound.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Amiamie", sans-serif;
}

@layer utilities {
  .clip-path {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  .banner-text-responsive {
    @apply text-[10vw] sm:text-[80px] md:text-[90px] lg:text-[100px];
  }
  .services-text-responsive {
    @apply text-[6vw] md:text-[50px] custom:text-[65px] lg:text-[80px] font-light;
  }

  .value-text-responsive {
    @apply text-xl md:text-[20px] lg:text-[25px];
  }

  .marquee-text-responsive {
    @apply text-[28px] sm:text-[36px] lg:text-[42px];
  }

  .contact-text-responsive {
    @apply text-[6vw] sm:text-[30px];
  }
}
